body{
    background: #007bff;
        
}



.header{
    background: white;
    width: 400px;
    position: relative;
    top: 25vh;
    border-radius: 5px;

}
#icon{
    color: white;
    margin: 20px 0;
    width: 50px;
    height: 50px;
    border: 2px solid;
    padding: 9px;
    border-radius: 50%;
    background: #007bff;

}

.textline{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;

}
.inputForm{

    display: flex;
    justify-content: center;
    margin: 5px 0;
   justify-content: space-evenly;
 
}

.inputForm input{
 border-radius: 5px;
width: 40px;
height: 40px;
border: none;
border: 1px solid gray;
outline: none;
text-align: center;
font-size: large;
font-weight: bold;

}
.inputForm input::-webkit-inner-spin-button,
.inputForm input::-webkit-outer-spin-button{
    display: none;
}

.buttonForm{
    margin: 20px 0;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 15px;
    background: #007bff79;
    border: none;
    
}

.buttonForm:hover{
    background-color: #007bff;
}

